{% extends 'base.html' %}
{% block b1 %}
    <h2>{{msg}}</h2>
    {% if users != None %}
        <h2>List of Users</h2>
        {% for user in users %}
           <a href="{% url 'app1:userinfo' user.id %}">{{user.username}}</a> <br><br>
        {% endfor %}
    {% endif %}
    {% if messages %}
        {% for message in messages %}
        <h3>{{message}} {{name}}</h3>
        {% endfor %}
    {% endif %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="er">{{error}}</p>
            {% endfor %}
        {% endif %}
        {% for field in form %}
            {{field.label_tag}} {{field}} {{field.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="Update">
    </form>
{% endblock b1 %}