.header{
    background-color: #333;
    overflow: hidden;
}
.header a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 20px;
}
.header a.right{
    float: right;
    background-color: aqua;
    color: red;
}
.c2{
    padding: 30px 10px;
    text-align: center;
    color:blue;
}
.footer{
    text-align: center;
    background-color: aqua;
    color: red;
    position: relative;
}
