<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BASE</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div>
            <div class="header">
                {% if name == "admin" %}
                <a class="active" href="{% url 'index' %}">DJANGO</a>
                <a href="{% url 'index' %}">HOME</a>
                <a href="{% url 'app1:changepwd1' %}">ChangePwd1</a>
                <a href="{% url 'app1:changepwd2' %}">ChangePwd2</a>
                <a href="{% url 'app1:login' %}">Users</a>
                <a href="{% url 'app1:login' %}">Myprofile</a>
                <a class="right" href="{% url 'app1:logout' %}">LOGOUT</a>
                {% elif name %}
                <a class="active" href="{% url 'index' %}">DJANGO</a>
                <a href="{% url 'index' %}">HOME</a>
                <a href="{% url 'app1:changepwd1' %}">ChangePwd1</a>
                <a href="{% url 'app1:changepwd2' %}">ChangePwd2</a>
                <a href="{% url 'app1:login' %}">Myprofile</a>
                <a class="right" href="{% url 'app1:logout' %}">LOGOUT</a>
                {% else %}
                <a class="active" href="{% url 'index' %}">DJANGO</a>
                <a href="{% url 'index' %}">HOME</a>
                <a class="right" href="{% url 'app1:login' %}">LOGIN</a>
                <a class="right" href="{% url 'app1:signup' %}">SIGNUP</a>
                {% endif %}
            </div>
            <div class="c2">
                {% block b1 %}
                {% endblock b1 %}
            </div>
            <div class="footer">
                <h1>Thanks for visiting</h1>
            </div>
        </div>
    </body>
</html>